<!DOCTYPE html>
<html>
<head>
	<title>VueJS | PHP</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<script type="text/javascript" src="js/vue.min.js"></script>
	<script type="text/javascript" src="js/vue-resource.min.js"></script>
</head>
<body>
<div id="app" class="container">
	<h2>VueJS | PHP</h2>	
	<br>
	<form name="form" v-on:submit.prevent="save" novalidate>
		<div>
			<div class="form-group">
				<input type="hidden" v-model="product.id">
				<label class="control-label" for="name">Product Name:</label>
				<input class="form-control" type="text" id="name" v-model="product.name" placeholder="Name">
			</div>

			<div class="form-group">
				<label class="control-label" for="price">Price:</label>
				<input type="text" class="form-control" id="price" v-model="product.price" placeholder="Price">
			</div>

			<div class="form-group">
				<span class="badge badge-danger">{{error}}</span>
			</div>

			<div class="form-group">
				<button class="btn btn-primary">Save</button>
				Status: {{result}}
			</div>
		</div>
	</form>
	<br>
	<p>
		<button v-on:click="getAllData" class="btn btn-danger">Fetch Data from Server</button>
	</p>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Name</th>
				<th>Price</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<tr v-for="item in products">
				<td>{{ item.name }}</td>
				<td>{{ item.price | number:2 }}</td>
				<td>
					<a class="btn btn-sm btn-primary" href="javascript:void(0)" v-on:click="editItem(item)">edit</a>
					<a class="btn btn-sm btn-danger" href="javascript:void(0)" v-on:click="deleteItem(item)">hapus</a>
				</td>
			</tr>
		</tbody>
	</table>
</div>

<script type="text/javascript" src="productservice.js"></script>
</body>
</html>